<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logo/400x400.png') }}"/>
    
    <!-- uikit -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit/dist/js/uikit-icons.min.js"></script>

    <!-- mithril -->
    <script src='https://unpkg.com/mithril/mithril.js'></script>

    <!-- template specific -->
    {% block meta %}{% endblock %}

</head>
<body>
<nav class="uk-navbar-container uk-navbar-transparent uk-dark uk-margin-small-top" uk-navbar>
    {% if 'embed' not in request.args or not request.args['embed'] %}
    <div class="uk-navbar-left uk-margin-left">
        <ul class="uk-navbar-nav">
            <li><a href={{ url_for('index.browse_games') }}>Home</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="uk-navbar-center">
        {% block header %}{% endblock %}
    </div>
    {% if 'embed' not in request.args and not request.args['embed'] %}
    <div class='uk-navbar-right uk-margin-right'>
        <ul class='uk-navbar-nav'>
            <li><a href={{ url_for('index.site_help') }}>Help</a></li>
        </ul>
    </div>
    {% endif %}
</nav>
<section class="content">
{% if get_flashed_messages() %}
    <div class='uk-margin-auto uk-margin uk-width-2-3@m uk-card uk-card-body uk-card-default flash'
        style='background: #ff000028'>
        {% for message in get_flashed_messages() %}
            {{ message }}<br>
        {% endfor %}
    </div>
{% endif %}
{% if request.args and 'what' in request.args %}
<div class='uk-margin-auto uk-margin uk-width-2-3@m uk-card-body uk-card-default flash'
    style='background: #0000ff28'>
    Testing on production &lt;3 <br/>
    {{ request.args }}
{% endif %}
</div>
{% block content %}{% endblock %}
</section>
</body>
