{% extends 'base.html' %}


{% block header %}
<h2>{% block title %}NP Timelapse{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class='uk-margin-auto uk-margin uk-width-2-3@s uk-card uk-card-body uk-card-default'>
        Record your games and download timelapses of them as .mp4!
        Check upper right corner for instructions.
    </div>

    <div class='uk-margin-auto uk-margin uk-width-2-3@s uk-card uk-card-body uk-card-default'>
        <h4>
            <form action="#" method="POST" uk-grid>
                <div class="uk-width-expand@m uk-first-column" uk-grid>
                    <div class="uk-first-column" uk-margin>
                            Game nr:
                            <input class="uk-input uk-width-auto uk-margin-small-right"
                                type="number" id="game_id" name="game_id"
                                min="1000000000000000">
                    </div>
                    <div class="uk-width-auto@l" uk-margin>
                            API key:
                            <input class="uk-input uk-width-small uk-margin-small-right"
                                type="text" id="api_key" name="api_key">
                    </div>
                </div>
                <div class="uk-width-auto@m">
                    <input class='uk-button uk-align-right uk-button-primary' type='submit' value='Add game'>
                </div>
            </form>
        </h4>
    </div>
    {% for game in games %}
    <a href={{ url_for('index.game_info', source_id=game['number']) }}>
        <div class='uk-margin-auto uk-margin uk-width-2-3@s uk-card uk-card-body uk-card-default'>
            <div uk-grid>
                <div class='uk-width-expand@m'>
                    <h4>
                        {{ game['name'] }}
                    </h4>
                    {{ game['number'] }}
                </div>
                <div class='uk-width-auto'>
                    {{ game['end_tick'] - game['start_tick'] + 1 }} ticks recorded<br>
                    {% if game['close_date'] %}
                        Finished {{ game['close_date'].strftime('%Y-%m-%d') }}
                    {% else %}
                        Running
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}
