{% extends 'base.html' %}


{% block header %}
<h2>{% block title %}NP Timelapse{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class='uk-margin-auto uk-margin uk-width-2-3 uk-card uk-card-body uk-card-default'>
        <h4>
            <form action="#" method="POST" uk-grid>
                <div class="uk-width-expand uk-first-column" uk-margin>
                    Game nr:
                    <input class="uk-input uk-width-auto uk-margin-small-right" type="number"
                        id="game_id" name="game_id" min="1000000000000000">
                    API key:
                    <input class="uk-input uk-width-small uk-margin-small-right" type="text"
                        id="api_key" name="api_key">
                </div>
                <div class="uk-width-auto uk-second-column">
                    <input class='uk-button uk-button-primary' type='submit' value='Add game'>
                </div>
            </form>
        </h4>
    </div>
    {% for game in games %}
    <a href={# url_for('index.game', number=game['number']) #}>
        <div class='uk-margin-auto uk-margin uk-width-2-3 uk-card uk-card-body uk-card-default'>
            <div uk-grid>
                <div class='uk-width-expand'>
                    <h4>
                        {{ game['name'] }}
                    </h4>
                    {{ game['number'] }}
                </div>
                <div class='uk-width-auto'>
                    {{ game['end_tick'] - game['start_tick'] + 1 }} ticks recorded.<br>
                    {% if game['close_date'] %}
                        Finished {{ game['close_date'].strftime('%Y/%M/%d') }}
                    {% else %}
                        Running
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}
