{% extends 'base.html' %}


{% block header %}
<h2>{% block title %}{{ game.name }}{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class="uk-margin-auto uk-margin uk-width-xlarge uk-card uk-card-body uk-card-default">
        <table class="uk-table uk-table-justify uk-width-1-1">
            <caption>{{ game.name }}</caption>
            <tbody>
                <tr>
                    <td style="text-align: left">Game number:</td>
                    <td style="text-align: right">{{ game.id }}</td>
                </tr>
                <tr>
                    <td style="text-align: left">Recorder length:</td>
                    <td style="text-align: right">
                        {{ game_length }} ticks
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">Status:</td>
                    <td style="text-align: right">
                        {% if game['close_date'] == None %}
                            Running
                        {% else %}
                            Closed on {{ game.close_date.strftime('%Y-%m-%d') }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <form action="{{ url_for('index.timelapse_request', game_id=game.id) }}"
            method="GET">
            Star apperiance:
            <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                <label><input type="radio" class="uk-radio" name="star" value="none"
                    checked>
                        None
                </label>
                <label><input type="radio" class="uk-radio" name="star" value="white"> 
                    White
                </label>
                <label><input type="radio" class="uk-radio" name="star" value="black"> 
                    Black
                </label>
                <label><input type="radio" class="uk-radio" name="star" value="contrast"> 
                    Contrast
                </label>
            </div>
            Edges:
            <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                <label><input type="radio" class="uk-radio" name="edge" value="none"
                    checked>
                        None
                </label>
                <label><input type="radio" class="uk-radio" name="edge" value="organic"> 
                    Organic
                </label>
            </div>
            Smoothness:
            <div class="uk-margin">
                <input type="range" class="uk-range" name="rescale" value="0"
                    min="-1" max="4" step="1">
            </div>
            <input class="uk-button uk-button-primary uk-align-left uk-width-1-1"
                type="submit" value="Request timelapse">
        </form>
        <a class="uk-button uk-button-default uk-align-right uk-margin-remove uk-width-1-1"
            target="_blank" href="https://np.ironhelmet.com/game/{{ game.id }}">
                Visit game
        </a>
    </div>
{% endblock %}
