{% extends 'base.html' %}


{% block header %}
<h2>{% block title %}Help{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class='uk-margin-auto uk-margin uk-width-2-3 uk-card uk-card-body uk-card-default'>
        <h1>Generating a timelapse</h1>
        This site uses the Neptune's Pride API to record games and generate mp4 timelapses
        showing empires' growth over time. It's a very simple process for the user, but
        rendering videos is a hardware-intensive process so keep that in mind when waiting
        for the render to complete.

        <h3>Step 1: Register a game</h3>
        <p>To create a timelapse the site first needs a recorded game. Unfortunately NP's
        API doesn't give historical info so the timelapse will start with the game state
        from when it was first registered.</p>

        <p>To register a game you need two pieces of information: a game's number and an
        API key. Game number can be found in the game's address. Each NP game address has
        the form<br>
        <code>np.ironhelmet.com/game/XXXXXXXXXXXXXXXX</code><br>
        This 16-digit number at the end is your game number. Your API key is 6 characters
        can be generated in the last section of game settings. Each time you generate an
        API key the previous one is invalidated, so make sure to save it if you want to
        use it somewhere else. You can enter these two values on the home page to register
        your game.<p>

        <p><i><b>WARNING!</b> Using your game number and API key it is possible to extract
        tactical data like carrier positions. Be careful when sharing them. NPTimelapse
        promises to never share your API key or any non-public information about your
        game.</i></p>

        <h3>Step 2: Request a timelapse</h3>
        <p>After the site has recorded enough data to create timelapse find it on the
        list and click on the card <i>(tip: games are sorted by game name and number)</i>.
        You will see a couple of timelapse options (explained in the next section) and
        a "Request timelapse" button. Pressing this button will send you to the page
        associated with the exact timelapse you requested.</p>

        <p>If the button says "Wait (refresh)" it means that the server is currently
        generating a timelapse, either yours or someone else's. Due to high resource cost
        of timelapse generation the server can only generate one timelapse at a time so
        come back in a minute or two and click the button or just refresh the page to see
        if the generation has completed.</p>

        <p>If the button says "Download timelapse" your timelapse is ready and you can
        just download it by clicking the button. This exact version of the timelapse will
        be kept on the server until midnight GMT so you can safely leave this page and
        return, and the timelapse will still be ready for download.</p>

        <h3>Timelapse options</h3>
        There are a couple options avaliable to customize your timelapse:
        <ul>
            <li>
                <b>Star style</b> - how will stars be marked on the timelapse. Contrast
                adjusts the color to match brightness of star's owner.
            </li>
            <li>
                <b>Border style</b> - how will the borders be marked on the timelapse. Works best
                with higher smoothness.
            </li>
            <li>
                <b>Smoothness</b> - how much pixelated the timelapse will be.
            </li>
        </ul>
        
        <h3>Supported games</h3>
        Currently almost any type of game of Neptune's Pride can be recorded by NPTimelapse.
        Here are restrictions that I know of:
        <ul>
            <li><b>Dark galaxy</b> - not allowed at all, planned in a future update.</li>
            <li><b>Proteus games</b> - custom colors and shapes don't affect the timelapse.</li>
        </ul>

        <h4>Feedback, issues and credits</h4>
        If you have any feedback or find any issues with the site PM me on
        <a href="https://discordapp.com/invite/TYr9RrA">NP Discord</a> or
        <a href="https://forum.ironhelmet.com/t/7668">IronHelmet forum</a>, I'm @olus2000.
        <br>
        Website by Aleksander "olus2000" Sabak. Source code and license avaliable on
        <a href="https://github.com/olus2000/nptimelapse">github</a>.
    </div>
{% endblock %}
